a {
  transition: color 0.2s ease;
}

.article-list {
  .item {
    .card {
      &:hover {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
      }
    }
  }
}

.article-body {
  z-index: 1;
}

.is-size- {
  &7 {
    font-size: 0.875rem !important;
  }
}

// Category
.category-list {
  .category-item {
    &.card {
      border: 1px solid rgba(0, 0, 0, 0.125);
      transition: background-color 0.2s ease, box-shadow 0.2s ease,
        transform 0.2s ease;
      box-shadow: 0 0 0 transparent;
      cursor: pointer;

      &:hover {
        transform: translate3d(-4px, -4px, 0) rotateZ(-1deg);
        box-shadow: 0.5rem 0.5rem 0 rgba(233, 236, 239, 0.5) !important;

        &.is-active {
          box-shadow: 0 0 0 0.2em rgba($primary, 0.25) !important;
        }
      }

      &.is-active {
        box-shadow: 0 0 0 0.2em rgba($primary, 0.25);
      }

      .icon {
        padding: 2.2em;
        background-color: rgba($white, 0.2);
        border-radius: 10em;
      }

      &.is-white {
        .icon {
          color: $primary;
          background-color: rgba($primary, 0.1);
        }
      }
    }
  }
}

// Repository
.repository-list {
  .table {
    tr {
      &.is-selected {
        background-color: transparent;

        .card {
          box-shadow: 0 0 0 0.2em rgba($primary, 0.25);

          &:hover {
            box-shadow: 0 0 0 0.2em rgba($primary, 0.25) !important;
          }
        }
      }

      td {
        border: 0;
      }

      &:first-child {
        td {
          padding: 0em 0.75em 0.5em 0.75em;
        }
      }
    }

    thead {
      display: none;
    }

    .card {
      cursor: pointer;

      &:hover {
        box-shadow: 0.5rem 0.5rem 0 rgba(233, 236, 239, 0.5) !important;
      }
    }
  }
}

.repository-details {
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 1.2em;

  .table {
    tr {
      td {
        border: 0;

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

// Breadcrumb
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1.25rem;
  margin-bottom: 0;
  list-style: none;
  border-radius: 200rem;

  a {
    transition: opacity 0.1s linear;

    &:not(:hover) {
      opacity: 0.75;
    }
  }

  &.is-primary {
    background-color: rgba($primary, 0.1);
  }

  &.is-white {
    background-color: rgba($white, 0.1);
  }

  li {
    &.is-active {
      a {
        opacity: 0.55;
      }
    }
  }
}

// Hero
.hero {
  position: relative;

  .hero-background-image {
    img {
      position: absolute;
      object-fit: cover;
      opacity: 0.5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    &.overlay:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0.65) 100%
      );
    }
  }

  .navbar {
    &.has-shadow {
      box-shadow: 0 0 0 0;

      &.is-primary-dark {
        border-bottom: 1px solid rgba($white, 0.08);
      }

      &.is-primary-light {
        border-bottom: 1px solid rgba($white, 0.08);
      }
    }

    .navbar-item {
      font-weight: 600;
      color: $white !important;
      transition: color 0.2s ease;

      &.has-dropdown {
        .navbar-item {
          color: $grey !important;

          &:hover {
            color: $grey-light !important;
          }
        }
      }

      &:hover {
        background-color: transparent !important;
        color: $grey-light !important;
      }

      &:focus {
        background-color: transparent !important;
      }

      .navbar-link {
        background-color: transparent !important;
        color: $white !important;
        transition: color 0.2s ease;

        &:hover {
          color: $grey-light !important;
        }
      }
    }

    &.is-light {
      .navbar-item {
        color: $grey-light !important;

        &:hover {
          color: $grey !important;
        }
      }

      .navbar-brand {
        .navbar-item {
          p {
            color: $primary-dark !important;
          }
        }
      }
    }
  }
}

img[lazy="loading"] {
  filter: blur(15px);
}

.nuxt-content {
  .nuxt-content-highlight pre {
    border-radius: $radius;
  }

  .number {
    font-size: inherit;
    display: inherit;
    background-color: inherit;
    margin-right: inherit;
    padding: inherit;
    vertical-align: unset;
  }

  code {
    border-radius: $radius;
  }

  img {
    border-radius: $radius;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  h2,
  h3,
  h4 {
    a {
      opacity: 0;
      transition: opacity 0.2s linear;

      .mdi {
        position: absolute;
        left: -0.3em;
      }
    }

    &:hover {
      a {
        opacity: 1;
      }
    }
  }
}

.is-absolute {
  position: absolute !important;
}

svg {
  margin-bottom: -8px;
  vertical-align: baseline;
}

@for $value from 0 through 10 {
  .is-opacity-#{$value} {
    opacity: ($value/10);
  }
  .is-right-#{$value} {
    right: #{$value}em;
  }
  .is-top-#{$value} {
    top: #{$value}em;
  }
  .is-bottom-#{$value} {
    bottom: #{$value}em;
  }
  .is-left-#{$value} {
    left: #{$value}em;
  }
  .z-index-#{$value} {
    z-index: #{$value};
  }
  .z-index-n#{$value} {
    z-index: -#{$value};
  }
}

@each $name, $pair in $colors {
  $color: nth($pair, 1);

  .has-text-hover-#{$name} {
    &:hover {
      color: $color !important;
    }
  }
  .gradient-y-sm-#{$name} {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0,
      rgba($primary, 0.075) 100%
    );
    background-repeat: repeat-x;
  }

  .is-shape-#{$name} {
    svg {
      path {
        fill: $color !important;
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.divider {
  position: relative;

  svg {
    height: 6vw;
  }
}

.flip-x {
  transform: scaleX(-1);
}

.is-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

// Carousel
.carousel-list {
  &.has-shadow {
    box-shadow: unset;
  }

  .carousel-arrow {
    .icon {
      transition: opacity 0.2s linear, box-shadow 0.2s linear;

      &:hover {
        box-shadow: 0 0.1rem 0.225rem rgba(0, 0, 0, 0.1);
      }

      &.has-icons-right {
        right: 0;
        border: 1px solid rgba(0, 0, 0, 0.125);
      }

      &.has-icons-left {
        left: 0;
        border: 1px solid rgba(0, 0, 0, 0.125);
      }

      &.is-medium {
        height: 3rem;
        width: 3rem;
      }
    }
  }
}

// Card
.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.2s ease-in-out;

  &.is-horizontal {
    display: flex;

    .card-image {
      width: 50%;
      height: 100%;
    }

    .card-stacked {
      flex-direction: column;
      flex: 1 1 auto;
      display: flex;
      position: relative;

      .card-content {
        flex-grow: 1;
      }
    }
  }

  .card-image {
    img {
      object-fit: cover;
    }
  }
}

.is-overflow-hidden {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
